:root {
  /***** colors *****/
  --vdk-grayish-blue: hsl(217, 19%, 35%);
  --des-dk-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --l-grayish-blue: hsl(210, 46%, 95%);

  /***** fonts *****/
  --ff: "Manrope", sans-serif;
  --fs: 13px;
}
