@use "../abstracts/mixins" as m;

.attribution {
  font-size: 11px;
  text-align: center;

  @include m.breakpoints(desktop) {
    margin-top: 2rem;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
